
body{
    background-color: rgb(208, 255, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
}
P{font-family: 'Explora', cursive;
    color: rgb(106, 54, 248);
    font-size: xx-large;
    

}
a{font-family: 'Caramel', cursive;
    color: rgb(224, 177, 115);
font-size: large;
}